In [29]:
import pandas as pd

In [30]:
import pyspark

In [31]:
from pyspark.sql import SparkSession

In [32]:
spark = SparkSession.Builder().appName("Myapp").master('local').getOrCreate()

In [33]:
spark

Now i created the object for my spark and created master as local

In [34]:
df_pyspark = spark.read.csv("files/Advertisement.csv")
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string]

In [35]:
df_pyspark.show()

+---+-----+---------+-----+
|_c0|  _c1|      _c2|  _c3|
+---+-----+---------+-----+
| TV|radio|newspaper|sales|
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
|  4|151.5|     41.3| 58.5|
|  5|180.8|     10.8| 58.4|
|  6|  8.7|     48.9|   75|
|  7| 57.5|     32.8| 23.5|
|  8|120.2|     19.6| 11.6|
|  9|  8.6|      2.1|    1|
| 10|199.8|      2.6| 21.2|
| 11| 66.1|      5.8| 24.2|
| 12|214.7|       24|    4|
| 13| 23.8|     35.1| 65.9|
| 14| 97.5|      7.6|  7.2|
| 15|204.1|     32.9|   46|
| 16|195.4|     47.7| 52.9|
| 17| 67.8|     36.6|  114|
| 18|281.4|     39.6| 55.8|
| 19| 69.2|     20.5| 18.3|
+---+-----+---------+-----+
only showing top 20 rows

In [8]:
df_pyspark2 = spark.read.option('header','true').csv("files/Advertisement.csv")

In [10]:
df_pyspark2

DataFrame[TV: string, radio: string, newspaper: string, sales: string]

In [12]:
df_pyspark2.show()

+---+-----+---------+-----+
| TV|radio|newspaper|sales|
+---+-----+---------+-----+
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
|  4|151.5|     41.3| 58.5|
|  5|180.8|     10.8| 58.4|
|  6|  8.7|     48.9|   75|
|  7| 57.5|     32.8| 23.5|
|  8|120.2|     19.6| 11.6|
|  9|  8.6|      2.1|    1|
| 10|199.8|      2.6| 21.2|
| 11| 66.1|      5.8| 24.2|
| 12|214.7|       24|    4|
| 13| 23.8|     35.1| 65.9|
| 14| 97.5|      7.6|  7.2|
| 15|204.1|     32.9|   46|
| 16|195.4|     47.7| 52.9|
| 17| 67.8|     36.6|  114|
| 18|281.4|     39.6| 55.8|
| 19| 69.2|     20.5| 18.3|
| 20|147.3|     23.9| 19.1|
+---+-----+---------+-----+
only showing top 20 rows

In [13]:
type(df_pyspark2)

pyspark.sql.dataframe.DataFrame

In [14]:
df = pd.read_csv('files/Advertisement.csv')
df.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [15]:
type(df)

pandas.core.frame.DataFrame

we can see the difference in the datatype of both pandas dataframe and pyspark dataframe.

In [16]:
df_pyspark2.show(3)

+---+-----+---------+-----+
| TV|radio|newspaper|sales|
+---+-----+---------+-----+
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
+---+-----+---------+-----+
only showing top 3 rows

In [17]:
df_pyspark2.printSchema()

root
 |-- TV: string (nullable = true)
 |-- radio: string (nullable = true)
 |-- newspaper: string (nullable = true)
 |-- sales: string (nullable = true)

In [18]:
df_pyspark2 = spark.read.option('header','true').csv("files/Advertisement.csv",inferSchema=True)

In [19]:
df_pyspark2.printSchema()

root
 |-- TV: integer (nullable = true)
 |-- radio: double (nullable = true)
 |-- newspaper: double (nullable = true)
 |-- sales: double (nullable = true)

Now i can see the correct datatype in my dataset.

In [20]:
df_pyspark2.columns

['TV', 'radio', 'newspaper', 'sales']

like this you can see the columns in your dataframe.

if you want to see a specific column you can use select statement.

In [21]:
df_pyspark2.show()

+---+-----+---------+-----+
| TV|radio|newspaper|sales|
+---+-----+---------+-----+
|  1|230.1|     37.8| 69.2|
|  2| 44.5|     39.3| 45.1|
|  3| 17.2|     45.9| 69.3|
|  4|151.5|     41.3| 58.5|
|  5|180.8|     10.8| 58.4|
|  6|  8.7|     48.9| 75.0|
|  7| 57.5|     32.8| 23.5|
|  8|120.2|     19.6| 11.6|
|  9|  8.6|      2.1|  1.0|
| 10|199.8|      2.6| 21.2|
| 11| 66.1|      5.8| 24.2|
| 12|214.7|     24.0|  4.0|
| 13| 23.8|     35.1| 65.9|
| 14| 97.5|      7.6|  7.2|
| 15|204.1|     32.9| 46.0|
| 16|195.4|     47.7| 52.9|
| 17| 67.8|     36.6|114.0|
| 18|281.4|     39.6| 55.8|
| 19| 69.2|     20.5| 18.3|
| 20|147.3|     23.9| 19.1|
+---+-----+---------+-----+
only showing top 20 rows

In [23]:
df_pyspark2.head(3)

[Row(TV=1, radio=230.1, newspaper=37.8, sales=69.2),
 Row(TV=2, radio=44.5, newspaper=39.3, sales=45.1),
 Row(TV=3, radio=17.2, newspaper=45.9, sales=69.3)]

In [24]:
df_pyspark2.select("TV").show()

+---+
| TV|
+---+
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
| 20|
+---+
only showing top 20 rows

In [25]:
df_pyspark2.select(['TV','radio']).show()

+---+-----+
| TV|radio|
+---+-----+
|  1|230.1|
|  2| 44.5|
|  3| 17.2|
|  4|151.5|
|  5|180.8|
|  6|  8.7|
|  7| 57.5|
|  8|120.2|
|  9|  8.6|
| 10|199.8|
| 11| 66.1|
| 12|214.7|
| 13| 23.8|
| 14| 97.5|
| 15|204.1|
| 16|195.4|
| 17| 67.8|
| 18|281.4|
| 19| 69.2|
| 20|147.3|
+---+-----+
only showing top 20 rows

In [26]:
df_pyspark2['TV']

Column<'TV'>

In [27]:
df_pyspark2.dtypes

[('TV', 'int'),
 ('radio', 'double'),
 ('newspaper', 'double'),
 ('sales', 'double')]

In [28]:
df_pyspark2.describe().show()

+-------+------------------+-----------------+------------------+------------------+
|summary|                TV|            radio|         newspaper|             sales|
+-------+------------------+-----------------+------------------+------------------+
|  count|               200|              200|               200|               200|
|   mean|             100.5|         147.0425|23.264000000000024|30.553999999999995|
| stddev|57.879184513951124|85.85423631490805|14.846809176168728| 21.77862083852283|
|    min|                 1|              0.7|               0.0|               0.3|
|    max|               200|            296.4|              49.6|             114.0|
+-------+------------------+-----------------+------------------+------------------+

if i want to add columns into dataframe i can use withcolumn method

In [42]:
newdf = df_pyspark2.withColumn("super sales",df_pyspark2['sales']*2).show()

+---+-----+---------+-----+-----------+
| TV|radio|newspaper|sales|super sales|
+---+-----+---------+-----+-----------+
|  1|230.1|     37.8| 69.2|      138.4|
|  2| 44.5|     39.3| 45.1|       90.2|
|  3| 17.2|     45.9| 69.3|      138.6|
|  4|151.5|     41.3| 58.5|      117.0|
|  5|180.8|     10.8| 58.4|      116.8|
|  6|  8.7|     48.9| 75.0|      150.0|
|  7| 57.5|     32.8| 23.5|       47.0|
|  8|120.2|     19.6| 11.6|       23.2|
|  9|  8.6|      2.1|  1.0|        2.0|
| 10|199.8|      2.6| 21.2|       42.4|
| 11| 66.1|      5.8| 24.2|       48.4|
| 12|214.7|     24.0|  4.0|        8.0|
| 13| 23.8|     35.1| 65.9|      131.8|
| 14| 97.5|      7.6|  7.2|       14.4|
| 15|204.1|     32.9| 46.0|       92.0|
| 16|195.4|     47.7| 52.9|      105.8|
| 17| 67.8|     36.6|114.0|      228.0|
| 18|281.4|     39.6| 55.8|      111.6|
| 19| 69.2|     20.5| 18.3|       36.6|
| 20|147.3|     23.9| 19.1|       38.2|
+---+-----+---------+-----+-----------+
only showing top 20 rows

Now i just created a extra column by multiplying my sales feature.

if you want to remove a column you can use drop method.

In [45]:
df_pyspark2.drop('sales').show()

+---+-----+---------+
| TV|radio|newspaper|
+---+-----+---------+
|  1|230.1|     37.8|
|  2| 44.5|     39.3|
|  3| 17.2|     45.9|
|  4|151.5|     41.3|
|  5|180.8|     10.8|
|  6|  8.7|     48.9|
|  7| 57.5|     32.8|
|  8|120.2|     19.6|
|  9|  8.6|      2.1|
| 10|199.8|      2.6|
| 11| 66.1|      5.8|
| 12|214.7|     24.0|
| 13| 23.8|     35.1|
| 14| 97.5|      7.6|
| 15|204.1|     32.9|
| 16|195.4|     47.7|
| 17| 67.8|     36.6|
| 18|281.4|     39.6|
| 19| 69.2|     20.5|
| 20|147.3|     23.9|
+---+-----+---------+
only showing top 20 rows

if i want to rename your column's name i can use the below method.

In [46]:
df_pyspark2.withColumnRenamed('TV','My TV').show()

+-----+-----+---------+-----+
|My TV|radio|newspaper|sales|
+-----+-----+---------+-----+
|    1|230.1|     37.8| 69.2|
|    2| 44.5|     39.3| 45.1|
|    3| 17.2|     45.9| 69.3|
|    4|151.5|     41.3| 58.5|
|    5|180.8|     10.8| 58.4|
|    6|  8.7|     48.9| 75.0|
|    7| 57.5|     32.8| 23.5|
|    8|120.2|     19.6| 11.6|
|    9|  8.6|      2.1|  1.0|
|   10|199.8|      2.6| 21.2|
|   11| 66.1|      5.8| 24.2|
|   12|214.7|     24.0|  4.0|
|   13| 23.8|     35.1| 65.9|
|   14| 97.5|      7.6|  7.2|
|   15|204.1|     32.9| 46.0|
|   16|195.4|     47.7| 52.9|
|   17| 67.8|     36.6|114.0|
|   18|281.4|     39.6| 55.8|
|   19| 69.2|     20.5| 18.3|
|   20|147.3|     23.9| 19.1|
+-----+-----+---------+-----+
only showing top 20 rows

### pyspark handling missing values.

In [67]:
newdf = spark.read.option('header','true').csv("files/New_set.csv",inferSchema=True)

In [50]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [51]:
newdf.na.drop().show()

+---------+---+------+------------------+
|     City|Age|Salary|Eligible for Bonus|
+---------+---+------+------------------+
|   Mumbai| 27| 51000|               Yes|
|   Mumbai| 30| 52000|                No|
|  Newyork| 27| 48000|               Yes|
|  Newyork| 29| 66000|                No|
|Singapore| 33| 69000|                No|
|Singapore| 35| 38000|                No|
|Singapore| 35| 72000|               Yes|
|   Mumbai| 31| 65000|               Yes|
|Singapore| 37| 49000|                No|
+---------+---+------+------------------+

if i did'nt mention anything inside drop method it will delete all the rows with null values.

In [53]:
newdf.na.drop(how='all').show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

it will not delete anything since there is no rows with all null values.

In [54]:
newdf.na.drop(how='any',thresh=2).show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

using thresh=2 it will delete the rows with less than two non null values.

In [55]:
newdf.na.fill('Missing value').show()

+---------+-------------+-------------+------------------+
|     City|          Age|       Salary|Eligible for Bonus|
+---------+-------------+-------------+------------------+
|   Mumbai|           27|        51000|               Yes|
|   Mumbai|           30|        52000|                No|
|  Newyork|           27|        48000|               Yes|
|  Newyork|           29|        66000|                No|
|    Tokyo|           48|Missing value|               Yes|
|Singapore|           33|        69000|                No|
|  Newyork|Missing value|        79000|               Yes|
|   Mumbai|           38|Missing value|               Yes|
|Singapore|           35|        38000|                No|
|    Tokyo|Missing value|        56000|                No|
|Singapore|           35|        72000|               Yes|
|   Mumbai|           31|        65000|               Yes|
|Singapore|           37|        49000|                No|
+---------+-------------+-------------+------------------+

if you want to only replace only in specific feature.

In [57]:
newdf.na.fill('Missing value','Age').show()

+---------+-------------+------+------------------+
|     City|          Age|Salary|Eligible for Bonus|
+---------+-------------+------+------------------+
|   Mumbai|           27| 51000|               Yes|
|   Mumbai|           30| 52000|                No|
|  Newyork|           27| 48000|               Yes|
|  Newyork|           29| 66000|                No|
|    Tokyo|           48|  null|               Yes|
|Singapore|           33| 69000|                No|
|  Newyork|Missing value| 79000|               Yes|
|   Mumbai|           38|  null|               Yes|
|Singapore|           35| 38000|                No|
|    Tokyo|Missing value| 56000|                No|
|Singapore|           35| 72000|               Yes|
|   Mumbai|           31| 65000|               Yes|
|Singapore|           37| 49000|                No|
+---------+-------------+------+------------------+

In [58]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [60]:
from pyspark.ml.feature import Imputer

In [63]:
imputer = Imputer(
    inputCols=['Age','Salary'],
    outputCols=['{}_imputed'.format(c) for c in ['Age','Salary']]
    
).setStrategy('mean')

In [64]:
newdf.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

In [68]:
new = imputer.fit(newdf).transform(newdf)

In [69]:
new.show()

+---------+----+------+------------------+-----------+--------------+
|     City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+---------+----+------+------------------+-----------+--------------+
|   Mumbai|  27| 51000|               Yes|         27|         51000|
|   Mumbai|  30| 52000|                No|         30|         52000|
|  Newyork|  27| 48000|               Yes|         27|         48000|
|  Newyork|  29| 66000|                No|         29|         66000|
|    Tokyo|  48|  null|               Yes|         48|         58636|
|Singapore|  33| 69000|                No|         33|         69000|
|  Newyork|null| 79000|               Yes|         33|         79000|
|   Mumbai|  38|  null|               Yes|         38|         58636|
|Singapore|  35| 38000|                No|         35|         38000|
|    Tokyo|null| 56000|                No|         33|         56000|
|Singapore|  35| 72000|               Yes|         35|         72000|
|   Mumbai|  31| 65000|               Yes|         31|         65000|
|Singapore|  37| 49000|                No|         37|         49000|
+---------+----+------+------------------+-----------+--------------+

### Filter methods

if i want to see only the salary greater than 50000.

In [70]:
new.filter('Salary_imputed>=50000').show()

+---------+----+------+------------------+-----------+--------------+
|     City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+---------+----+------+------------------+-----------+--------------+
|   Mumbai|  27| 51000|               Yes|         27|         51000|
|   Mumbai|  30| 52000|                No|         30|         52000|
|  Newyork|  29| 66000|                No|         29|         66000|
|    Tokyo|  48|  null|               Yes|         48|         58636|
|Singapore|  33| 69000|                No|         33|         69000|
|  Newyork|null| 79000|               Yes|         33|         79000|
|   Mumbai|  38|  null|               Yes|         38|         58636|
|    Tokyo|null| 56000|                No|         33|         56000|
|Singapore|  35| 72000|               Yes|         35|         72000|
|   Mumbai|  31| 65000|               Yes|         31|         65000|
+---------+----+------+------------------+-----------+--------------+

if i want to see only specific features with salary grater than 50000.

In [71]:
new.filter('Salary_imputed>=50000').select(['Age_imputed','Age']).show()

+-----------+----+
|Age_imputed| Age|
+-----------+----+
|         27|  27|
|         30|  30|
|         29|  29|
|         48|  48|
|         33|  33|
|         33|null|
|         38|  38|
|         33|null|
|         35|  35|
|         31|  31|
+-----------+----+

In [72]:
new.filter((new['Salary_imputed']>=50000) & (new['Salary_imputed']<=58000)).show()

+------+----+------+------------------+-----------+--------------+
|  City| Age|Salary|Eligible for Bonus|Age_imputed|Salary_imputed|
+------+----+------+------------------+-----------+--------------+
|Mumbai|  27| 51000|               Yes|         27|         51000|
|Mumbai|  30| 52000|                No|         30|         52000|
| Tokyo|null| 56000|                No|         33|         56000|
+------+----+------+------------------+-----------+--------------+

### Groupby and aggregate functions

In [107]:
new = spark.read.csv('files/salary22.csv',header=True,inferSchema=True)

In [90]:
new.show()

+--------+--------------+------+----+
|    Name|    Department|Salary| _c3|
+--------+--------------+------+----+
|Thahseer|data scientist| 30000|null|
|   Arjun|          Mern| 15000|null|
|Thahseer|           IOT| 20000|null|
|   Arjun|          Mean| 13000|null|
|   Jerin|        Golang| 18000|null|
|   Jerin|        Golang| 19000|null|
|  Rashid|          Mern| 12000|null|
|  Rashid|          Mean| 10000|null|
+--------+--------------+------+----+

In [91]:
new.groupBy('Name').sum()

In [93]:
new.show()

+--------+-----------+
|    Name|sum(Salary)|
+--------+-----------+
|Thahseer|      50000|
|  Rashid|      22000|
|   Jerin|      37000|
|   Arjun|      28000|
+--------+-----------+

In [99]:
new = new.groupBy('Department').sum()

In [100]:
new.show()

+--------------+-----------+
|    Department|sum(Salary)|
+--------------+-----------+
|data scientist|      30000|
|           IOT|      20000|
|          Mean|      23000|
|          Mern|      27000|
|        Golang|      37000|
+--------------+-----------+

In [102]:
new = new.groupBy("Name").mean()

In [103]:
new.show()

+--------+-----------+
|    Name|avg(Salary)|
+--------+-----------+
|Thahseer|    25000.0|
|  Rashid|    11000.0|
|   Jerin|    18500.0|
|   Arjun|    14000.0|
+--------+-----------+

In [105]:
new = new.groupBy("Department").count()

In [106]:
new.show()

+--------------+-----+
|    Department|count|
+--------------+-----+
|data scientist|    1|
|           IOT|    1|
|          Mean|    2|
|          Mern|    2|
|        Golang|    2|
+--------------+-----+

In [108]:
new2 = new.agg({'Salary':'sum'})

In [109]:
new2.show()

+-----------+
|sum(Salary)|
+-----------+
|     137000|
+-----------+

In [110]:
new.columns

['Name', 'Department', 'Salary', '_c3']

#### if i want to convert my two input features into one independent features.

In [117]:
data = spark.read.csv('files/New_set.csv',header=True,inferSchema=True)

In [118]:
data.show()

+---------+----+------+------------------+
|     City| Age|Salary|Eligible for Bonus|
+---------+----+------+------------------+
|   Mumbai|  27| 51000|               Yes|
|   Mumbai|  30| 52000|                No|
|  Newyork|  27| 48000|               Yes|
|  Newyork|  29| 66000|                No|
|    Tokyo|  48|  null|               Yes|
|Singapore|  33| 69000|                No|
|  Newyork|null| 79000|               Yes|
|   Mumbai|  38|  null|               Yes|
|Singapore|  35| 38000|                No|
|    Tokyo|null| 56000|                No|
|Singapore|  35| 72000|               Yes|
|   Mumbai|  31| 65000|               Yes|
|Singapore|  37| 49000|                No|
+---------+----+------+------------------+

[Age,Salary]----> new feature--->independent feature

In [119]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["Age","Salary"],outputCol="Independent Features")

In [123]:
output = featureassembler.transform(data)

In [126]:
output

DataFrame[City: string, Age: int, Salary: int, Eligible for Bonus: string, Independent Features: vector]

In [127]:
finalized_data=output.select("Independent Features","Salary")

In [129]:
finalized_data

DataFrame[Independent Features: vector, Salary: int]

### Now i want to see part 6 continuation of krish naik pyspark tutorial

In [1]:
import pyspark

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.Builder().appName("Myapp").master('local').getOrCreate()

In [4]:
spark

In [5]:
training = spark.read.csv("files/newnote.csv",header=True,inferSchema=True)

In [6]:
training.show()

+---------+---+----------+------+
|     Name|age|experience|salary|
+---------+---+----------+------+
|    krish| 31|        10| 30000|
|sudhanshu| 30|         8| 25000|
|    sunny| 29|         4| 20000|
|     paul| 24|         3| 20000|
|   harsha| 21|         1| 15000|
|  shubham| 23|         2| 18000|
+---------+---+----------+------+

In [7]:
training.columns

['Name', 'age', 'experience', 'salary']

In [8]:
from pyspark.ml.feature import VectorAssembler

using this VectorAssemler i will group my independent features.

In [9]:
vectorize = VectorAssembler(inputCols=['age','experience'],outputCol='Input Features')

In [10]:
output = vectorize.transform(training)

In [12]:
output.show()

+---------+---+----------+------+--------------+
|     Name|age|experience|salary|Input Features|
+---------+---+----------+------+--------------+
|    krish| 31|        10| 30000|   [31.0,10.0]|
|sudhanshu| 30|         8| 25000|    [30.0,8.0]|
|    sunny| 29|         4| 20000|    [29.0,4.0]|
|     paul| 24|         3| 20000|    [24.0,3.0]|
|   harsha| 21|         1| 15000|    [21.0,1.0]|
|  shubham| 23|         2| 18000|    [23.0,2.0]|
+---------+---+----------+------+--------------+

In [14]:
finalized_data = output.select("salary","Input Features")

In [15]:
finalized_data.show()

+------+--------------+
|salary|Input Features|
+------+--------------+
| 30000|   [31.0,10.0]|
| 25000|    [30.0,8.0]|
| 20000|    [29.0,4.0]|
| 20000|    [24.0,3.0]|
| 15000|    [21.0,1.0]|
| 18000|    [23.0,2.0]|
+------+--------------+

In [16]:
from pyspark.ml.regression import LinearRegression

In [17]:
train_data,test_data = finalized_data.randomSplit([0.75,0.25])
regressor = LinearRegression(featuresCol="Input Features",labelCol="salary")

In [18]:
regressor = regressor.fit(train_data)

In [19]:
regressor.intercept

11796.874999999998

In [20]:
regressor.coefficients

DenseVector([83.8068, 1443.1818])

In [21]:
predicted = regressor.evaluate(test_data)

In [22]:
predicted.predictions.show()

+------+--------------+------------------+
|salary|Input Features|        prediction|
+------+--------------+------------------+
| 18000|    [23.0,2.0]|16610.795454545456|
| 20000|    [24.0,3.0]|18137.784090909092|
| 25000|    [30.0,8.0]| 25856.53409090908|
| 30000|   [31.0,10.0]|28826.704545454537|
+------+--------------+------------------+

In [23]:
predicted.meanAbsoluteError,predicted.meanSquaredError

(1320.312499999999, 1877002.5584323339)